<header class="bg-white py-4 shadow-md">
  <div class="container mx-auto px-4">
    <nav class="flex flex-col md:flex-row justify-between items-start md:items-center">
      <a href="index.html" class="text-2xl font-bold text-ecoGreen flex items-center">
        <i class="fas fa-leaf text-ecoBlue mr-1"></i> EcoCircular
      </a>
      <ul class="flex flex-wrap mt-4 md:mt-0">
        <li class="mr-6"><a href="index.html" class="text-ecoGray font-medium hover:text-ecoGreen relative [&.active]:text-ecoGreen [&.active]:after:content-[''] [&.active]:after:absolute [&.active]:after:bottom-[-5px] [&.active]:after:left-0 [&.active]:after:w-full [&.active]:after:h-0.5 [&.active]:after:bg-ecoGreen">Inicio</a></li>
        <li class="mr-6"><a href="index.html" class="text-ecoGray font-medium hover:text-ecoGreen relative [&.active]:text-ecoGreen [&.active]:after:content-[''] [&.active]:after:absolute [&.active]:after:bottom-[-5px] [&.active]:after:left-0 [&.active]:after:w-full [&.active]:after:h-0.5 [&.active]:after:bg-ecoGreen">Ponentes</a></li>
        <li class="mr-6"><a href="index.html" class="text-ecoGray font-medium hover:text-ecoGreen relative [&.active]:text-ecoGreen [&.active]:after:content-[''] [&.active]:after:absolute [&.active]:after:bottom-[-5px] [&.active]:after:left-0 [&.active]:after:w-full [&.active]:after:h-0.5 [&.active]:after:bg-ecoGreen">Información</a></li>
        <li><a href="events.html" class="text-ecoGray font-medium hover:text-ecoGreen relative [&.active]:text-ecoGreen [&.active]:after:content-[''] [&.active]:after:absolute [&.active]:after:bottom-[-5px] [&.active]:after:left-0 [&.active]:after:w-full [&.active]:after:h-0.5 [&.active]:after:bg-ecoGreen">Eventos</a></li>
      </ul>
    </nav>
  </div>
</header>
